// Ref: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

// Global (Not Important)
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    line-height: 1.2;
    padding: 20px;
}
p {
    margin-bottom: 15px;
}
%heading {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
h1 {
    @extend %heading;
    background-color: #cbcbff;
    max-width: 1200px;
    margin-bottom: 75px;
    margin-top: 25px;
}
h2 {
    @extend %heading;
    background-color: #cbe3ff;
    max-width: 900px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.fb-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.fb-description {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1000px;
}


// Flex Section Global
.flex-section {
    margin-bottom: 50px;
    .fs-box-outer {
        .fs-box-inner {
            position: relative;
            padding-top: 56%; // 16:9 aspect ratio
            background-color: gray;
            z-index: 1;
            .fs-content {
                position: absolute;
                color: white;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                font-size: 24px;
                z-index: 2;
                left: 0; right: 0; top: 0; bottom: 0;
            }
        }
    }
}


// Example 1 - flex-wrap
.flex-section.fs1 {
    display: flex;
    flex-wrap: wrap; // essential
    justify-content: center;
    background-color: #f2f2f2;
    .fs-box-outer {
        flex-basis: 186px;
        padding: 15px;
        .fs-box-inner {
            .fs-content {
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 18px;
            }
        }
    }
}


// Example 2 - Order
.flex-section.fs2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    .fs-box-outer {
        flex-basis: 33%;
        padding: 15px;
        .fs-box-inner {
            .fs-content {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
    .fs-box-outer:nth-child(1) { 
        .fs-box-inner { background-color: red; }
    }
    .fs-box-outer:nth-child(2) { 
        .fs-box-inner { background-color: blue; }
    }
    .fs-box-outer:nth-child(3) { 
        .fs-box-inner { background-color: green; }
    }
}
@media (max-width: 1000px) {
    .flex-section.fs2 {
        .fs-box-outer {
            flex-basis: 50%;
        }
        .fs-box-outer:nth-child(1) { order: 2; } // essential
        .fs-box-outer:nth-child(2) { order: 3; } // essential
        .fs-box-outer:nth-child(3) { order: 1; } // essential
    }
}
@media (max-width: 700px) {
    .flex-section.fs2 {
        .fs-box-outer {
            flex-basis: 100%;
        }
    }
}


// Example 3 - Flex-direction (Column)
.flex-section.fs3 {
    display: flex;
    flex-direction: row; // Don't actually need this since it's the default
    background-color: #f2f2f2;
    .fs-box-outer {
        flex-basis: 33%;
        padding: 15px;
        .fs-box-inner {
            .fs-content {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}
@media (max-width: 1000px) {
    .flex-section.fs3 {
        flex-direction: column; // essential
    }
}


// Example 4 - Align-items (Center), Order
.flex-section.fs4 {
    display: flex;
    align-items: center; // essential
    flex-wrap: wrap;
    margin-bottom: 75px;
    .fs-box {
        flex-basis: 50%;
    }
    .fs-image {
        text-align: center;
        img {
            width: 80%;
            margin: 0 auto;
        }
    }
    .fs-info {
        padding: 50px;
        line-height: 1.4;
        h3 {
            margin-bottom: 15px;
            font-size: 22px;
        }
    }
}
@media (max-width: 1000px) {
    .flex-section.fs4 {
        .fs-box {
            flex-basis: 100%;
        }
        .fs-box.fs-info { order: 1 } // essential
        .fs-box.fs-image { order: 2 } // essential
    }
}


// Example 5 - Justify-Content
.flex-section.fs5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // fallback
    justify-content: space-evenly; // doesn't work in I.E.
    background-color: #f2f2f2;
    .fs-box-outer {
        flex-basis: 250px;
        .fs-box-inner {
            .fs-content {
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 18px;
            }
        }
    }
}


// Example 6 - Flex-grow, Align-Items
// More info: https://developer.mozilla.org/en-US/docs/Web/CSS/flex
.flex-section.fs6 {
    display: flex;
    align-items: center; // essential
    background-color: #f2f2f2;
    .fs-box-outer {
        padding: 15px;
        flex-grow: 1; // essential
        .fs-box-inner {
            .fs-content {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
    .fs-box-outer:nth-child(2) {
        flex-grow: 2;
    }
}
@media (max-width: 1000px) {
}